.main {
  border: 1px solid blue;
  width: 50%;
  margin: 0 auto;
  position: relative;
  display: flex;
  margin-top: 30px;
}

.contacts {
  width: 25%;
  border: 1px solid #aaa;
}

.content {
  width: 70%;
}

.content--message--area {
  width: 250px; 
  height:  100px;
  display: block;
}